################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RecordsLib/.vs/RecordsLib/v16/TestStore/0
